*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Inter", sans-serif;
}

.app {
  width: 100vw;
  height: 100vh;
  background: #1E1E1E;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-login{
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left-login img {
  width: 35vw;
}

.right-login{
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-input-login {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 30px;
  background: #242424;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
}

.box-input-login h1 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin: 10px 0px;
}

.input input {
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #908F8F;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
}

.input label {
  color: #908F8F;
  margin-bottom: 10px;
}

h1 {
  color: #D82148;
}
input {
  width: 100%;
  background: #908F8F;
  color: #000;
  border: none;
  padding: 20px;
  border-radius: 40px;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
}
input::-webkit-input-placeholder{
  color: #585656;
}

@media only screen and (max-width: 950px) {
  .box-input-login{
    width: 85%;
  }
  
}

@media only screen and (max-width: 950px) {
  .app{
    flex-direction: column;
  }
  .left-login h1 {
    display: none;
  }

  .left-login{
    width: 100%;
    height: auto;
  }

  .right-login{
    width: 100%;
    height: auto;
  }
}


button {
  width: 100%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: #242424;
  background: #D82148;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #d821494f;
  
}

.button-green{
  margin-top: 0 !important;
  background-color: green;
  border: 1px solid green;
}
.button-red{
  margin-top: 0 !important;
  background-color: #D82148;
  border: 1px solid #D82148;
}

button:hover {
  background-color: transparent;
  color: #fff;
}
.user-card{
  border: 1px solid #fff;
  max-width: 800px;
  min-width: 800px;

}

table, th, td {
  border: 1px solid #fff;
  color: #fff;
  border-collapse: collapse;
  padding: 10px 20px;
}


.table{
  padding: 30px;
}


/*modal*/


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

label{
  color: #fff;
  margin-bottom: 15px;
}

select {
  margin-left: 10px;
  width: 150px;
  height: 30px;
  border-radius: 4px;
  background-color: #1E1E1E;
  color: #fff;
}
.modal-content {
  background-color: #1E1E1E;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.modal-content h2{
  text-align: center;
  color: #fff;
}

.buttons-form {
  display: flex;
  justify-content: space-between;
}

/* Estilos gerais do formulário */
.form-field {
  margin-bottom: 10px;
}

/* Estilos para os campos de entrada */
.form-field input[type="text"],
.form-field input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilos para os botões */
.form-field button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.form-field button:last-child {
  background-color: #dc3545; /* Cor vermelha */
}

.filterDiv{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}
.filterDiv button{
    margin-top: 0px;
}

.filterDiv input{
  margin-right: 10px;
  max-height: 49px;
  max-width: 388px;
}

.btnEdit{
  margin-top: 0 !important;
}
.form {
background: #1E1E1E;
}